#game-rules {
  display: flex;
  flex-direction: row;

  #game {
    width: 50%;
    margin: 1%;

    .board {
      margin: 0 17%;
    }

    button {
      margin: 1%;
    }
  }

  #rules {
    width: 50%;
    text-align: initial;

    h2 {
      text-align: center;
    }
  }
}
