#game-rules {
  display: flex;
  flex-direction: row;

  #game {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    h1 {
      margin: 0 30%;
    }

    .grid-buttons {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .board {
        margin: 2% 0;
      } //end of board class

      .side-buttons {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 3%;

        button {
          margin: 5% 0;
        }
      } //end of side-buttons class
    } //end of grid-buttons class

    .controls {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      button {
        margin: 0 1%;
        width: 40%;
      } //end of button

      .top {
        display: flex;
        justify-content: flex-start;
        margin: 3% 0;
      }

      .bottom {
        display: flex;
        justify-content: flex-start;
      }
    }
  } //end of game id

  #rules {
    width: 40%;

    h2 {
      text-align: center;
    }

    ul {
      text-align: initial;
    }
  } //end of rules id

  @media (max-width: 1100px) {
    #game {
      h1 {
        margin: 0 23%;
      }
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #game {
      width: 80%;
    }

    #rules {
      width: 100%;
    }
  }
}
