#game-rules {
  display: flex;
  flex-direction: row;
  height: 400px;

  #game {
    width: 50%;
    margin: 1%;
  }

  #rules {
    width: 50%;
    text-align: initial;

    h2 {
      text-align: center;
    }
  }
}
