body {
  background: black;
  color: white;
  text-align: center;
}
#about {
  text-align: justify;
  margin: 3% 25%;
}
#about h2 {
  text-align: center;
}
#game-rules {
  display: flex;
  flex-direction: row;
  height: 400px;
}
#game-rules #game {
  width: 50%;
  margin: 1%;
}
#game-rules #rules {
  width: 50%;
  text-align: initial;
}
#game-rules #rules h2 {
  text-align: center;
}
